# custom
*.class
*.project
*.classpath
*.properties
*.MF
*.jar
*.war
*.ear
*.db
*.DS_Store

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# sbteclipse plugin
.target

# STS (Spring Tool Suite)
.springBeans

### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/

# End of https://www.toptal.com/developers/gitignore/api/eclipse